* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DungGeunMo';
}

body {
  background-image: url(background-img.avif);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  text-align: center;
}

#poster {
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  text-align: center;
  border: 5px solid black;
}

#result-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
}

#title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

#score {
  font-size: 22px;
  font-weight: bold;
  color: green;
  margin-top: 5px;
}

button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: darkblue;
  cursor: pointer;
  transition: all 0.3s;
  display: block;
  margin-top: 20px;
}

button:hover {
  padding: 18px 45px;
  background-color: navy;
}
#resultContainer {
  width: 80%;
  max-width: 700px;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.question-box {
  border-left: 5px solid rgb(92, 27, 197);
  background-color: rgb(184, 155, 211);
  padding: 10px;
  margin-bottom: 15px;
  background: #f9f9f9;
  border-radius: 8px;
}

.question-box h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.question-box p {
  font-size: 16px;
  margin: 5px 0;
}
